name: Deploy AKS Addon (Manual)

on:
  workflow_dispatch:
    inputs:
      # environment_name:
      #   type: choice
      #   required: true
      #   options: [master]
      deploy_grafana:
        description: "Deploy / upgrade grafana chart?"
        required: true
        type: boolean
        default: false
      deploy_prometheus:
        description: "Deploy / upgrade Prometheus chart?"
        required: true
        type: boolean
        default: false


jobs:
  deploy_grafana:
    name: Deploy grafana
    if: ${{ inputs.deploy_grafana == true }}
    uses: ./.github/workflows/addons-deployment.yaml
    with:
      environment_name: prod
      aks_rg: test-rg
      aks_cluster_name: test-aks

      addon_name: grafana
      helm_namespace: monitoring

      # Map addon -> chart/release/values/repo here
      helm_release_name: grafana

      helm_values_file: ./aks-addons/grafana/vars/override.yaml

      # Example charts (change as you like)
      helm_chart: ./aks-addons/grafana


    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      token_env: |
        GRAFANA_ADMIN_USER=${{ secrets.GRAFANA_ADMIN_USER }}
        GRAFANA_ADMIN_PASSWORD=${{ secrets.GRAFANA_ADMIN_PASSWORD }}



  # deploy_prometheus:
  #   name: Deploy prometheus
  #   if: ${{ inputs.deploy_prometheus == true }}
  #   uses: ./.github/workflows/addons-deployment.yaml

  #   with:
  #     environment_name: prod
  #     aks_rg: test-rg
  #     aks_cluster_name: test-aks

  #     addon_name: prometheus
  #     helm_namespace: monitoring

  #     # Map addon -> chart/release/values/repo here
  #     helm_release_name: prometheus

  #     helm_values_file: ./aks-addons/prometheus/vars/override.yaml

  #   secrets:
  #     AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
  #     token_env: ${{ secrets.TOKEN_ENV }}
  #     helm_set_args: ${{ secrets.HELM_SET_ARGS }}
