name: Deploy AKS Addon (Manual)

on:
  workflow_dispatch:
    inputs:
      # environment_name:
      #   type: choice
      #   required: true
      #   options: [master]
      deploy_grafana:
        description: "Deploy / upgrade grafana chart?"
        required: true
        type: boolean
        default: false
      deploy_prometheus:
        description: "Deploy / upgrade Prometheus chart?"
        required: true
        type: boolean
        default: false


jobs:
  run:
    name: Deploy grafana
    if: ${{ inputs.deploy_grafana == true }}
    uses: ./.github/workflows/addons-deployment.yaml
    with:
      environment_name: prod
      aks_rg: test-rg
      aks_cluster_name: test-aks

      addon_name: grafana
      helm_namespace: monitoring

      # Map addon -> chart/release/values/repo here
      helm_release_name: grafana

      helm_values_file: ./aks-addons/grafana/vars/override.yaml

      # Example charts (change as you like)
      helm_chart: ./aks-addons/grafana


    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      token_env: |
        GRAFANA_ADMIN_USER=${{ secrets.GRAFANA_ADMIN_USER }}
        GRAFANA_ADMIN_PASSWORD=${{ secrets.GRAFANA_ADMIN_PASSWORD }}



  # run_1:
  #   name: Deploy Addons
  #   if: ${{ inputs.deploy_prometheus == true }}
  #   uses: ./.github/workflows/addons-deployment.yaml

  #   with:
  #     environment_name: ${{ inputs.environment_name }}
  #     aks_rg: ${{ vars.AKS_RG }}
  #     aks_cluster_name: ${{ vars.AKS_CLUSTER_NAME }}

  #     addon_name: ${{ inputs.addon }}
  #     helm_namespace: ${{ inputs.namespace }}

  #     # Map addon -> chart/release/values/repo here
  #     helm_release_name: ${{ inputs.addon }}

  #     helm_values_file: addons/${{ inputs.addon }}/values-${{ inputs.environment_name }}.yaml

  #     # Example charts (change as you like)
  #     helm_chart: ${{ inputs.addon == 'grafana' && 'grafana/grafana' || 'prometheus-community/kube-prometheus-stack' }}
  #     helm_repo_name: ${{ inputs.addon == 'grafana' && 'grafana' || 'prometheus-community' }}
  #     helm_repo_url:  ${{ inputs.addon == 'grafana' && 'https://grafana.github.io/helm-charts' || 'https://prometheus-community.github.io/helm-charts' }}

  #   secrets:
  #     AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
  #     token_env: ${{ secrets.TOKEN_ENV }}
  #     helm_set_args: ${{ secrets.HELM_SET_ARGS }}
